*.csv
*.zip

__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

*.pkl
*.h5
*.joblib

venv/
env/
.venv/

.vscode/
.idea/

.DS_Store
Thumbs.db
desktop.ini

cicids2017_project_plan.md
project_simple_overview.svg
QA_Project.docx